* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 !important;
}
:root {
  --altGreenColor : #385622;
  --mainColor : #001f5f;
  --altRedColor : #c00000;
  --redColor : #ff0000;
  --greenColor : #00af50;
  --altBlueColor : #001f5f;
  --blueColor : #006fc0;
  --burbleColor : #6f2f9f;
  --whiteColor : #fff;
}
/* SameElements */
body {
  font-family: "Cairo", serif !important;
  direction: rtl;
  padding: 20px;
  overflow: hidden;
}
a {
  text-decoration: none !important;
}
section {
  border: 8px solid var(--altGreenColor);
  width: 100%;
  padding: 80px;
  padding-bottom: 0px;
  height: calc(100vh - 40px);
}
.heading {
  width: fit-content;
  background-color: var(--altGreenColor);
  color: var(--whiteColor);
  font-size: 30px;
  padding: 10px 80px;
}
section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.start-btn {
  display: block;
  width: fit-content;
  padding: 8px 180px;
  border-radius: 10px;
  color: #fff;
  font-size: 80px;
  background-color: var(--altBlueColor);
}

i {
  color: var(--altRedColor);
  font-size: 45px;
  margin-bottom: 10px !important;
}
.round:hover {
  background-color: var(--blueColor);
  color: var(--whiteColor);
}
.info-box {
  transition: 0.3s;
}
.info-box:hover {
  background-color: var(--altBlueColor);
  color: var(--whiteColor);
}
.return-btn {
  background-color: var(--altGreenColor);
  color: var(--whiteColor);
  width: fit-content;
  padding: 10px 20px;
  font-size: 25px;
  transition: 0.3s;
}
.return-btn:hover {
  background-color: #1d320e;
}
/* Intro */
.intro .box {
  background-color: var(--altBlueColor);
  color: var(--whiteColor);
  font-size: 25px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 160px);
  height: calc(100% - 200px);
  padding: 90px;
}
.intro .box h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: unset;
}
.intro .btns {
  position: absolute;
  top: 75%;
  right: 10px;
  width: 100%;
}
.intro .btn {
  transform: translateX(16px) translateY(-40px);
}
.intro .btn.out {
  transform: translateX(5px) translateY(-40px);
}
.intro a {
  background-color: var(--redColor);
  color: var(--whiteColor);
  padding-block: 5px;
  width: 150px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.intro #out {
  font-size: 25px;
  padding-top: 0px;
}
.intro a:hover {
  background-color: var(--altRedColor);
  color: var(--whiteColor);
}
@media (max-width : 767px) {
  body {
    padding: 0px;
  }
  section {
    padding: 0px !important;
    height: 100vh;
  }
  .intro .box{
    top: 120px !important;
    padding: 50px 20px;
    width: calc(100% - 50px);
    height: 60%;
    * {
      line-height: 2;
    }
  }
  .intro .box,
  .intro .box h2 {
    font-size: 15px !important;
  }
  .intro .btns {
    top: 63% !important;
    right: -3px;
  }
  .intro .btn {
    transform: translateY(50px) !important;
  }
  .intro .btn a,
  .intro #out {
    width: 100px;
    font-size: 12px !important;
  }
}
@media (max-width : 991px) {
  .intro .box {
    /* padding: 40px; */
    font-size: 18px;
  }
  .intro .btns {
    top: 87%;
  }
}
@media (width : 1024px) {
  .intro .btns {
    top: 89%;
  }
}
/* Contant */
.contant {
  padding: 70px;
}
.round {
  background-color: var(--altBlueColor);
  color: var(--whiteColor);
  font-size: 25px;
  width: 30%;
  padding: 10px 60px;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s;
}
@media (max-width : 991px) {
  .contant .container > div {
    margin-top: 12.5vh !important;
  }
}
@media (max-width : 991px) {
  .contant .round {
    width: 41% !important;
    padding: 10px 28px !important;
  }
}
@media (max-width : 767px) {
  .heading {
    font-size: 20px;
    padding: 5px 20px;
    margin-top: 40px !important;
    margin-bottom: 80px !important;
  }
  .round {
    font-size: 12px;
    width: 45% !important;
    padding: 10px 28px !important;
    margin-block: 15px !important;
  }
  .contant .sessions {
    margin-inline: auto !important;
  }
  .contant .round:first-of-type,
  .contant .round:last-of-type {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .return-btn {
    font-size: 14px;
    margin-top: 80px !important;
  }
}

/* FirstSession */
.first-session .round {
  padding-inline: 0;
  font-size: 20px;
  display: block;
  width: unset;
}
.info-box {
  background-color: var(--blueColor);
  color: var(--whiteColor);
  height: 200px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px !important;
  border-radius: 10px;
}
.first-session .return-btn {
  margin-bottom: 5px !important;
}
.first-session .btn a {
  display: block;
  color: var(--whiteColor);
  background-color: var(--redColor);
  padding: 10px 30px;
  font-size: 20px;
}
.first-session .btn {
  transform: translateX(72px) translateY(0px);
}
.first-session .btn.out {
  transform: translateX(-72px) translateY(0px);
}
.first-session i {
  margin-top: 10px !important;
}
.first-session #return {
  margin-inline: 0 !important;
}
@media (max-width : 991px) {
  .first-session .heading {
    padding: 10px 20px;
    margin-bottom: 20px !important;
  }
  .first-session .round {
    width: 70% !important;
    font-size: 14px;
    margin-inline: auto !important;
  }
  .first-session .info-box {
    height: 120px;
    margin-bottom: 20px !important;
  }
  .first-session .btn a,
  .first-session .return-btn {
    padding-inline: 0;
    text-align: center;
    width: 100px;
    font-size: 14px;
  }
}
@media (max-width : 767px) {
  .first-session .heading {
    margin-bottom: 0 !important;
  }
  .first-session .info-box {
    height: 60px;
    font-size: 18px;
    margin-bottom: 0 !important;
  }
  .first-session .btn,
  .first-session .btn.out {
    transform: none;
  }

  .start-btn {
    font-size: 24px;
    padding: 8px 20px;
  }
}
@media (max-width: 375px) {
  .first-session i {
    font-size: 25px;
  }
  .first-session .return-btn,
  .first-session .btn a {
    margin-top: 0px !important;
    width: 100px !important;
    font-size: 12px;
  }
}
